html{
    margin-left: 20vw;
    --prim-color:#264e70;
    color: white
}
button{
    background: #ef6c57;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font:normal bold 18px "Open Sans", sans-serif;
    }
